POSTGRES_DB=dbname
POSTGRES_USER=user1
POSTGRES_PASSWORD=1234
DJANGO_SUPERUSER_EMAIL=vibhav.1507@gmail.com
DJANGO_SUPERUSER_FULLNAME=vibhav shukla
DJANGO_SUPERUSER_PHONE=9876543210
DJANGO_SUPERUSER_PASSWORD=npc